Package: com.maxui.tweak
Name: 魔法相机
Version: 1.0.1
Architecture: iphoneos-arm64
Depends: firmware (>= 15.0)
Conflicts: com.vcamplus.tweak.cardkey
Replaces: com.vcamplus.tweak.cardkey
Description: 魔法相机离线卡密版（无需联网，输入授权码即可激活）。支持 iOS 15-16 Dopamine rootless 越狱，需先安装 ElleKit。
Author: MAXUI
Maintainer: MAXUI
Section: Tweaks
